:root {
  --color: #222;
  --white: #FFF;
  --bg-header: #8844EE;
  --bg-header-: #B07DFB;
  --bg-nav: #0000001a;
  --bg-nav-hover: #00000080;
  --bg-sidenav: #FAFBFC;
  --shadow: #2c2c2c26;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: .5rem;
}

.container {
  display: grid;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
  grid-template-areas: 
  "header header header"
  "sidenav content anuncios"
  "footer footer footer"
  ;
}

.container header {
  grid-area: header;
  background: linear-gradient(135deg, var(--bg-header), var(--bg-header-));
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.container header .logo {
  max-width: 20rem;
}

.container header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.container header nav ul li + li {
  margin-left: 3rem;
}

.container header nav ul li a {
  display: block;
  padding: 1rem;
  color: var(--white);
  font-size: 1.8rem;
  background: var(--bg-nav);
  border-radius: .5rem;
  transition: 0.1s;
}

.container header nav ul li a:hover {
  background: var(--bg-nav-hover);
}

.container .sidenav {
  grid-area: sidenav;
  background: var(--bg-sidenav);
  padding: 3rem;
  
}

.container .sidenav ul li a{
  display: block;
  min-width: 6rem;
  max-width: 10rem;
  margin: 0 auto 3rem auto;
  background: var(--white);
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: .5rem .5rem 1.5rem 0 var(--shadow);
  transition: .1s ease-out;
}

.container .sidenav ul li a:hover {
  background: var(--bg-header-);
}

.container .content {
  grid-area: content;
  margin: 0 auto;
  padding: 3rem;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.container .content .col-wide {
  grid-column: 1 / -1;
}

.container .content .img-1 {
  grid-row: span 2;
  align-self: self-end;
}

.container .content .img-2 {
  align-self: self-end;
}

.container .anuncios {
  grid-area: anuncios;
  display: grid;
  background: var(--bg-sidenav);
  align-content: start;
  padding: 3rem;
  gap: 3rem;
}

.container footer {
  grid-area: footer;
  background: linear-gradient(135deg, var(--bg-header), var(--bg-header-));
}

.container footer p {
  color: var(--white);
  text-align: center;
  padding: 3rem;
}